<!DOCTYPE html>
<html lang="pt-BR">
  <head>
   <%- include('./components/head') %>
  </head>
  <body>
   
    <%- include('./components/nav') %>

    <main>
     <% if(message!= "") { %>
      <%- include('./components/alerts') %>
<% } %>
      <section id="cards">
        <h3>List of Bikes</h3>

        <% catalog.forEach((catalog) => { %>
        <div class="card">
          <img src="<%= catalog.img %>" alt="" />
          <h2><%= catalog.marca %></h2>
          <p class="modelo"><%= catalog.modelo %></p>
          <p>Type: <%= catalog.tipo %></p>
          <a href="/getById/<%= catalog.id %>/put">Edit</a>
          <a href="/getById/<%= catalog.id %>/delete">Delete</a>
        </div>
        <% }) %>
      </section>
    </main>


    <% if (bikePut != null) { %>
      <%- include('./components/modalUpdate') %>
    <% } %>

    <% if (bikeDel != null) { %>
      <%- include('./components/modalDelete') %>
    <% } %>
  
    <%- include('./components/footer') %>

    <script src="/js/script.js"></script>
  </body>
</html>
