<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Pokedéx</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><h1>Pokedex</h1></li>
        <li><a href="#cadastro">Register</a></li>
        <li><a href="#cards">Pokemons</a></li>
      </ul>
    </nav>

    <main>
      <section id="cadastro">
        <% if (pokemon == undefined) { %>
        <h2>Register a new pokemon</h2>

        <form action="/create" onsubmit="cadastrado()" method="post">
          <label for="nome">Name:</label>
          <input required type="text" id="nome" name="nome" />

          <label for="descricao">Description:</label>
          <input required type="text" name="descricao" id="descricao" />

          <label for="tipo">Type:</label>
          <input required type="text" name="tipo" id="tipo" />

          <label for="imagem">Image Link:</label>
          <input required type="text" name="imagem" id="imagem" />

          <button id="btnCadastrar" type="submit">Register</button>
        </form>

        <% }else { %>

        <h2>Pokemon update</h2>

        <form action="/update/<%= pokemon.id %>" method="POST">
          <label for="nome">Name:</label>
          <input
            required
            type="text"
            id="nome"
            name="nome"
            value="<%= pokemon.nome%>"
          />

          <label for="descricao">Description:</label>
          <input
            required
            type="text"
            name="descricao"
            id="descricao"
            value="<%= pokemon.descricao%>"
          />

          <label for="tipo">Type:</label>
          <input
            required
            type="text"
            name="tipo"
            id="tipo"
            value="<%= pokemon.tipo%>"
          />

          <label for="imagem">Image Link:</label>
          <input
            required
            type="text"
            name="imagem"
            id="imagem"
            value="<%= pokemon.imagem%>"
          />

          <button id="btnAtualizar" type="submit">Update</button>
        </form>
        <% } %>
      </section>

      <section id="cards">
        <h3>List of Pokemons</h3>

        <% pokedex.forEach((pokemon) => { %>
        <div class="card">
          <img src="<%= pokemon.imagem %>" alt="" />
          <h2><%= pokemon.nome %></h2>
          <p class="descricao"><%= pokemon.descricao %></p>
          <p>Type: <%= pokemon.tipo %></p>
          <a href="/detalhes/<%= pokemon.id %>">Edit</a>
        </div>
        <% }) %>
      </section>
    </main>
    <footer>
      <p>
        <a href="https://github.com/magura13" target="_blank">My GitHub</a>
        - Copyright Sign &copy;
      </p>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
